/* styles.css */

/* Réinitialisation des marges et des rembourrages */
body, h1, p, select {
    margin: 0;
    padding: 0;
    font-family: italic 1.2rem "Fira Sans", serif;
  }
  
  /* Style pour l'en-tête */
  header {
    background-color: #236c8c;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Style pour le titre principal */
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  /* Style pour le paragraphe d'introduction */
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  /* Style pour le contenu principal */
  main {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Style pour les images de cocktails */
  img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  /* Style pour le sélecteur de verres */
  #verres {
    margin-bottom: 20px;
    font-size: 1.2em;
    padding: 8px;
    border-radius: 5px;
    background-color: #f39c12;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Style pour la section de recette */
  #recette {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Style pour le titre de la recette */
  #cocktailTitle {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e45f21;
  }
  
  /* Style pour le contenu de la recette */
  #recette p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  